/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  background: lightgrey;
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Contenedor principal */
.container {
  padding: 20px;
  margin: 15px;
  text-align: center;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: width 0.6s ease-in-out, height 0.6s ease-in-out;
  min-height: 600px; 
  width: 800px; 
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* Títulos */
h1 {
  font-size: 24px;
  color: #444;
}

h2 {
  font-size: 12px;
  color: #555;

}

/* Información de la foto */
#info {
  text-align: left;
}

#photo-info {
  font-size: 14px;
  margin: 10px 0;

}

/* Botón */
button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #585858;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #000000;
}

a {
  text-decoration: none;
  color: #000000;
}

a:hover {
  text-decoration: underline;
} 

a:visited {
  color: #a0a0a0;
}

/* Imagen con transiciones de fade */
img {
  max-width: 100%;
  max-height: 400px;
  width: auto;
  height: auto;
  min-height: 600px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  object-fit: contain;
  border-radius: 3px;
  transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out;
}


/* Clases de animación */
.hidden {
  opacity: 0;
  transform: scale(0.95);
}

.fade-out {
  opacity: 0;
  transform: scale(0.95);
}

.fade-in {
  opacity: 1;
  transform: scale(1);
}


/* Add these media queries at the end of your styles.css */
@media screen and (max-width: 1024px) {
  .container {
    width: 90vw;
    min-height: 500px;
  }
  
  img {
    width: 100%;
    height: auto;
    min-height: auto;
  }
}

@media screen and (max-width: 768px) {
  .container {
    min-height: 400px;
  }
}

@media screen and (max-width: 480px) {
  .container {
    min-height: 300px;
  }
  
  h1 {
    font-size: 20px;
  }
}
